@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #203643 0%, #061822 100%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 66px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Lexend', sans-serif;
    color: #FFF9DB;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    color: #A49F87;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #AB7938;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.conteudo-principal-texto{
    display: flex;
    flex-direction: column;
    gap: 32px;   
}

.conteudo-principal-texto-titulo{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFFBE6;
}

.conteudo-principal-texto-paragrafo{
    font-family: 'Lexend', sans-serif;
    color: #FFF9DB;
    font-weight: 400;
    font-size: 24px;
}
.conteudo-principal-botao{
    background-color: #9C6A00;
    width: 137px;
    height: 48px;
    border: none;
    box-shadow: 4px  5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-family: 'Lexend', sans-serif;
    color: #FFFBE6;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-botao:hover{
    background-color: #503702;
}

.conteudo-principal-imagem{
    height: 400px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #AB7938;
    padding-top: 48px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFBE6;
}

.conteudo-secundario-paragrafo{
    font-family: 'Lexend', sans-serif;
    color: #FFFBE6;
    font-weight: 400;
    font-size: 18px;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #AB7938;
}

.imagem-rodape{
    height: 55px;
    display: block;
    margin: 0 auto;
}